
@use './partials/mixins';
@use './partials/variables';
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(237, 14%, 26%);
    font-size: 1.6rem;

}
.main-section {
    width: 30%;
    //media query
}
//switch button
.toggle-area{
    background-color: rgb(138, 43, 226,0.7);
    width: 50px;
    height: 30px;
    border-radius: 20px;
    
    .check{
        background-color:white;
        width: 25px;
        height: 25px;
        margin: .1em;
        border-radius: 50%;
    }
}
.light-mode{
    @include mixins.flex-box(flex-end,center,row,wrap);
}

//light mode
.light{
background-color: white;
}

@media(max-width:768px){
    .main-section {
        width: 80%;
        //media query
    }
}