
@use './variables'as *;

.buttons{
// padding: 1em;
border-radius: 60%;
border: none;
background-color:$blueviolet;
color: white;
width: 80px;
height: 80px;
transition: 0.4s ease-in-out;
&:hover{
background-color: $blueviolet-light;
}
}
@mixin flex-box($justify:flex-start,$align: flex-start,$direction:row,$wrap:nowrap){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}