


$blueviolet:rgb(138, 43, 226,0.4);
$blueviolet-light:rgb(138, 43, 226,0.7);
$VeryDarkGrayishBlueb: hsl(237, 14%, 26%);
$VeryLightGrayishBlue: hsl(236, 33%, 92%);
$VeryDarkGrayishBlue: hsl(231, 25%, 78%);


// $blueviolet:rgb(138, 43, 226,0.5)